@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');



.container1 {
   
}


body{
    background-color: #f0f0f0;
}

.container1{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    position: absolute;
    left: 25%;
    top: 20%;
}

.container1 p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container1 span{
    font-size: 12px;
}

.container1 a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container1 button{
    background-color: #f12711;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container1 button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container1 form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container1 input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container1.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container1.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container1.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #f12711;
    height: 100%;
    background: linear-gradient(to right, #95afc0 , #535c68);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container1.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container1.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container1.active .toggle-right{
    transform: translateX(200%);
}


/* ADAPTIVE  for mobile devices */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .container1 {
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: center;
        overflow: hidden;
        width: 330px;
        max-width: 100%;
        min-height: 500px;
    }
    .social-icons a {
        font-size: 10px;
        border-radius: 30%;
        margin: 1px 3px 3px;
        justify-content: center;
        width: 30px;
        height: 30px;
    }
    .toggle-container{
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        border-radius: 75px 0 0 50px;
        z-index: 500;
    }
    h1 {
        font-size: 20px;
    }
    .span{
        font-size: 3px;
    }
    a {
        font-size: 5px;
    }
    .container1 form {
        font-size: 15px;
    }
    .container1 input {
        border: none;
        margin: 8px 0;
        padding: 10px 15px;
        font-size: 10px;
        border-radius: 8px;
        width: 120%;
        outline: none;
    }
    .container1 button{
        background-color: #f12711;
        color: #fff;
        font-size: 11px;
        padding: 5px 25px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 15px;
        cursor: pointer;
    }
    .sign-in{
        left: 0;
        width: 50%;
        z-index: 1;
    }
    .sign-up{
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }
}

@media only screen and (max-width:1441px) {
    .container1 {
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;
        position: absolute;
        left: 25%;
        top: 20%;
    }
}

@media only screen and (max-width:1025px) {
    .container1 {
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;
        position: absolute;
        left: 15%;
        top: 15%;
    }
}

@media only screen and (max-width:769px) {
    .container1 {
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        width: 700px;
        max-width: 100%;
        min-height: 480px;
        position: absolute;
        left: 5%;
        top: 10%;
    }
}

@media only screen and (max-width:426px) {
    .container1 {
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        width: 700px;
        max-width: 100%;
        min-height: 480px;
        position: absolute;
        left: 0%;
        top: 5%;
    }
    .toggle-right{
        left: 43%;
    }
    .toggle-left{
        left: -7%;
    }
}

@media only screen and (max-width:321px) {
    .container1 {
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        width: 700px;
        max-width: 100%;
        min-height: 480px;
        position: absolute;
        left: 0%;
        top: 5%;
    }
    .toggle-right{
        left: 43%;
    }
    .toggle-left{
        left: -7%;
    }
    
}
.input-container {
    margin-bottom: 20px;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
    border: none;
  }
  .custom-file-upload:hover {
    background-color: #34495e;
  }
  
  .input-container input[type="file"] {
    display: none;
  }

  .insert-image-message {
    font-size: 5px;
    font-weight: bolder;
    color: red; /* Orange color */
    text-align: center;
    border-radius: 10px;
  }
  