.profile-container {
    max-width: 600px;
    margin: 150px auto;
    text-align: center;
    color: black;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.profile-picture {
    margin-bottom: 20px;
}

.profile-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-details div {
    width: 80%;
}

.profile-details strong {
    font-weight: bold;
    font-size: 18px;
}

.button-group {
    margin-top: 20px;
}

#action2 {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    margin-right: 10px;
    transition: background-color 0s;
}

.edit,
.discard {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0s;
}

.edit {
    background-color: red;
    color: #fff;
}

.discard {
    background-color: #2c3e50;
    color: #fff;
}

.profile-picture-container {
    position: relative;
}

.camera-icon {
    position: absolute;
    top: 30%;
    left: 48%;
    transform: translate(-50%, -50%);
    transform: scale(7.2);
    opacity: 0;
    transition: opacity 1s;
}

.profile-picture-container:hover .camera-icon {
    opacity: 2;
}

.camera-icon:hover {
    cursor: pointer;
    
}
.profile-picture-container:hover .profile-picture {
    opacity: 0.8;
}
#img1 {
    border-radius: 70px;
}

@media screen and (max-width: 426px) {

    .profile-container {
        max-width: 400px;
        margin: 50px auto;
        text-align: center;
        color: black;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(1, 1, 2, 2.1);
    }

    .profile-container {
        margin: 50px auto;
        padding: 10px;
        font-size: 14px;
    }

    .profile-details {
        flex-direction: column;
       
    }

    .prof1{
        margin: 10px 10px;
        margin-left: 50px;
    }

    .button-group {
        flex-direction: column;
    }

    .button-group button {
        margin-top: 10px;
    }
}

@media screen and (max-width: 376px) {

    .profile-container {
        max-width: 340px;
        margin: 50px auto;
        text-align: center;
        color: black;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(1, 1, 2, 2.1);
    }

    .profile-container {
        margin: 50px auto;
        padding: 10px;
        font-size: 14px;
    }

    .profile-details {
        flex-direction: column;
        
    }

    .prof1{
        margin: 10px 10px;
        margin-left: 50px;
    }

    .button-group {
        flex-direction: column;
    }

    .button-group button {
        margin-top: 10px;
    }
}

@media screen and (max-width: 321px) {

    .profile-container {
        max-width: 300px;
        margin: 50px auto;
        text-align: center;
        color: black;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(1, 1, 2, 2.1);
    }

    .profile-container {
        margin: 20px auto;
        padding: 10px;
        font-size: 14px;
    }

    .profile-details {
        flex-direction: column;
        
    }

    .prof1{
        margin: 10px 10px;
        margin-left: 50px;
    }

    .button-group {
        flex-direction: column;
    }

    .button-group button {
        margin-top: 10px;
    }
    
}

