.card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  .card-title {
    color: #333333;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: #666666;
    margin-bottom: 8px;
  }
  
  
  
  .add-to-cart-btn {
    background-color: #2c3e50 !important;
    color: #ffffff !important;
    border: none !important;
    border-radius: 25px !important;
    padding: 10px 20px !important;
    font-size: 0.9rem !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
  }
  
  .add-to-cart-btn:hover {
    background-color: #34495e !important;
    color: white !important;
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card:hover .card-overlay {
    opacity: 1;
  }
  
  .card-overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
  }
  
  .card-overlay-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .card-overlay-button {
    background-color: #ffffff;
    color: #333333;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-overlay-button:hover {
    background-color: #f0f0f0;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .table-responsive {
      overflow-x: auto;
      background-color: white;
      margin-top: 14px;
    }
    
    .admin-table {
      width: 100%;
      border-collapse: collapse;
    }
    
    .admin-table th,
    .admin-table td {
      border: 1px solid #ddd;
      padding: 4px;
    }
    
    .admin-table th {
      background-color: #2c3e50;
      text-align: center;
      color: white;
    }
    
    .admin-table tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    
    .admin-table tr:hover {
      background-color: #ddd;
    }
    
    .admin-table td button {
      cursor: pointer;
    }
  
    .admin-table td {
      text-align: center;
    }
    
    .admin-table hr {
      border: 0.5px solid #ddd;
      margin: 0;
    }
    
    .search-input {
      width: 300px;
      margin-right: 20px; 
      border-radius: 10px;
  }
  
  .sort-button {
      background-color: #2c3e50; 
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border-radius: 10px;
      
  }
  
  .sort-button:hover {
      background-color: #535c68; 
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
      .search-input {
          width: auto;
          margin-right: 10px;
      }
  
      .sort-button {
          padding: 8px 16px;
          margin: 5px 5px;
      }
  }
  
  .del2{
      background-color: lightgreen;
      color: green;
      border-radius: 10px;
  }
  
  .del2:hover{
    background-color: darkgreen;
    color: white;
  }
  .pagination {
      text-align: center;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      
    }
    
    .pagination button {
      padding: 8px 16px;
      margin: 0 5px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      border-radius: 20px;
      
    }
    
    .pagination button:hover {
      background-color: #0056b3;
  
    }
    
    @media screen and (max-width: 768px) {
      .pagination button {
        padding: 6px 12px;
        margin: 0 3px;
      }
    }
    
    .pagination {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
  }
  
  .pagination li {
      display: inline-block;
      margin-right: 5px;
      border-radius: 20px;
  }
  
  .pagination li a {
      color: #333;
      padding: 5px 10px;
      border: 1px solid #ccc;
      text-decoration: none;
      cursor: pointer;
      border-radius: 20px;
  }
  
  .pagination li.active a {
      background-color: #007bff;
      color: #fff;
  }
  
  .pagination li:hover a {
      background-color: #f0f0f0;
  }
  
  
  #container{
    margin: 140px auto;
  
  }
  @media screen and (max-width: 600px) {
    #container{
      margin: 40px auto;
    
    }
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    border-radius: 20px;
  }
  
  .popup-content {
    text-align: center;
  }
  
  .popup-content h2 {
    margin-bottom: 20px;
  }
  
  .popup-content label {
    display: block;
    margin-bottom: 10px;
  }
  
  .popup-content input,
  .popup-content select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .popup-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-content button:hover {
    background-color: #0056b3;
  }
  
  input.error {
    border: 1px solid red;
  }
  
  @media (max-width: 768px) {
    .popup {
      width: 90%;
      max-width: 90%;
    }
  }
  .popup-content select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px; 
    overflow-y: auto;
  }
  
  .buttonup{
    display: flex;
    justify-content: space-around;
  }
  #btn11{
    background-color: green;
    color: white;
  }
  
  #btn22{
    background-color: red;
    color:white;
  }

  .no-products-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Adjust as needed */
  }
  
  .no-products-found p {
    font-size: 24px; /* Adjust as needed */
    font-weight: bold;
    color: #333333;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .out-of-stock-badge {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  .in-stock-badge {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
 